#elRaptor {
  display: block;
  position: fixed;
  right: 0;
  bottom: calc(-100%);
  width: auto;
  max-height: 50vh;
  height: 50vh;
  background-color: transparent;
}
#elRaptor.active {
  animation: raptor 5s;
}

@keyframes raptor {
  0% {
    right: calc(0%);
    bottom: calc(-100%);
  }
  10% {
    right: calc(0%);
    bottom: calc(0%);
  }
  15% {
    right: calc(0%);
    bottom: calc(-15%);
  }
  100% {
    right: calc(120%);
    bottom: calc(-15%);
  }
}