$transition: 1s ease-in-out;
#github {
    position: fixed;
    top: 4em;
    right: -5.5em;
    border: 1px solid red;
    width: 20em;
    transform: rotate(45deg);
    text-align: center;
    box-shadow: .1em .1em .5em white;
    @include horizontal-button($primary,$transition);

    a {
        display: inline-block;
        padding: 0.5em;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-shadow: .1em .1em .1em $primary;
        transition: $transition;
    }

    &:hover {
        a {
            color: $secondary;
            text-shadow: .1em .1em .1em white;
        }
    }
}
